h1{
    color: darkgray;
    position: relative;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

label{
    color: darkgray;
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

input[type=number]{
    width: 10%;
    padding: 5px 10px;
    margin: 5px 0;
    border: 1px solid rgb(20, 7, 7);
    border-radius: 7px;
}

button{
    background-color: skyblue;
    border-radius: 7px;
    color: whitesmoke;
    padding: 9px 15px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}  

p{
    color:skyblue;
    font-family: courier;
    font-size: 160%;
}